
@using Microsoft.AspNetCore.Http;
@using BusinessObjects.DTO;
@inject IHttpContextAccessor HttpContextAccessor
@using BusinessObjects.DTO;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link id="sitecss" rel="stylesheet" href="~/css/site.css" /><script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <nav id="header" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" id="logo-img" /></a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                    </ul>
                    <div class="nav-item"></div>
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-input">
                    <button class="btn btn-outline-success" type="submit">Search</button>

                </div>
                @if (@HttpContextAccessor.HttpContext.Session.GetString("user") != null)
                {
                    @if (@SessionExtension.Get<UserDTO>(@HttpContextAccessor.HttpContext.Session, "user").RoleName != "Premium")
                    {
                        @if (@SessionExtension.Get<UserDTO>(@HttpContextAccessor.HttpContext.Session, "user").RequestToVIP != true)
                        {
                            <button id="upgrade" class="btn btn-warning">Nâng cấp lên premium</button>
                        }
                        else
                        {
                            <button disabled class="btn btn-warning">Đã yêu cầu Premium</button>
                        }
                    }
                    else
                    {
                        <button disabled class="btn btn-warning">
                            Premium!</button>
                    }
                    <div class="d-flex right-item" id="create-btn">
                        <img src="~/images/plus-icon.png" />
                        <span>Viết món mới</span>
                    </div>
                    <div class="d-flex right-item" id="profile-btn">
                        <img src="~/images/avatar.jpg" />
                        <span>Bếp cá nhân</span>
                    </div>
                    <div class="d-flex right-item">
                        <img src="~/images/logout.jpg" />
                        <span id="logout-btn">Đăng xuất</span>
                    </div>


                }
                else
                {
                    <div class="d-flex right-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="Login">Đăng nhập</a>
                    </div>
                    <div class="d-flex right-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="Register">Đăng ký</a>
                    </div>
                }
            </div>
        </nav>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        $("#logout-btn").on("click", function () {
            if (confirm("Bạn chắc chắn muốn đăng xuất?")){
                window.location.href = "/Auth/Logout";
            };
        });
        $("#upgrade").on("click", function () {
            if (confirm("Bạn chắc chắn muốn nâng cấp lên Premium?")) {
                $.ajax({
                    type: "PUT",
                    url: '/User/RequestVIP',
                    contentType: false,
                    processData: false,
                   
                    success: function (result) {
                        alert(result);
                    },
                    error: function (xhr, status, p3, p4) {
                        alert('Something is going to wrong please try agan!');
                    }
                });
                
            };
        });
        $("#create-btn").on("click", function () {
                window.location.href = "/Recipes/Draft";
        });
        $("#profile-btn").on("click", function () {
            window.location.href = "/User/MyProfile";
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
