@{
    ViewData["Title"] = "Collection";
}

<div class="container">
    <br />
    <br />
    <br />
    <form action="/Collections/Edit/@ViewBag.CollId" style="display:inline; float:right;" id="editBtn">
        <input type="submit" value="Chỉnh sửa" style="width:100px" class="btn btn-primary"/>
    </form>

    <div class="row">
    
        <div class="col-8"><p class="newestdish" id="collectionName" filter-content="S"></p></div>
    </div>
        <p style="margin:auto" id="collectionDesc"></p>
        <br>
    <div id="newest" class="row">
    </div>
    <div style="align-content: center; display: flex">
        @*<button class="btn btn-primary" style="margin:auto" id="newColl">Hiển thị thêm</button>*@
        <p style="margin:auto" id="endWarning">Bạn đã đến cuối trang</p>
    </div>
</div>
<script>
    $(document).ready(function () {



        var userId;
        $.ajax({
            url: "https://localhost:5001/api/Collections/" + @ViewData["collId"],
            type: "get",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function(result, status, xhr) {
                $("#collectionName").text(result["name"]);
                $("#collectionDesc").text(result["description"]);
                userId = result["userId"];
            },
            error: function(xhr, status, error) {
                    
            }

            });

        var count = 0;
        $("#endWarning").hide();
        showCollections();
        $.noConflict();

        window.onscroll = function(ev) {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                showCollections();
            }
        };



        //$(window).scroll(function() {
        //   if($(window).scrollTop() + $(window).height() == $(document).height()) {
        //        showCollections();
        //   }
        //});

        //$("#newColl").click(function(e) {
        //    showCollections();
        //});
        function showCollections() {
            count = count + 1;
            $.ajax({
                url: "https://localhost:5001/api/Collections/GetRecipes/" + @ViewData["collId"] + "/" + count,
                type: "get",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function(result, status, xhr) {
                    if (!$.trim(result)){
                        $("#endWarning").show();
                        //$("#newColl").hide();
                    }
                    if (@ViewData["userId"] != userId)
                    {
                        $("#editBtn").hide();
                    }

                    $.each(result, function (index, value) {
                        
                        appendElement = $("#newest");
                        let raw = ""
                        
                        raw += "<div class='col-3'>";

                        if (value["user"]["avatar"] == null) {
                            raw += "<img src='http://ssl.gstatic.com/accounts/ui/avatar_2x.png' class='avatar img-circle rounded-circle' alt='...'>&nbsp&nbsp&nbsp";
                        }
                        else {
                            raw += "<img src='"+"../../Images/fromUsers/" + value["user"]["avatar"]+"' class='avatar img-circle rounded-circle' alt='...'>&nbsp&nbsp&nbsp";
                        }
                        raw += "<a href='../../User/Profile/"+value["user"]["userId"]+"'> " + value["user"]["name"]+"</a>";
                        raw +="<div class=\"card\" style=\"width: 15rem;\">";
                        raw += "<div class=\"card-body\">";
                        if (value["image"] == null) {
                            raw += "<img src='http://ssl.gstatic.com/accounts/ui/avatar_2x.png' class=' img-circle thumbnail' alt='...'>";
                        }
                        else {
                            raw += "<img src='" + "../../Images/fromUsers/" + value["image"] + "' class='img-circle thumbnail' alt='...'>&nbsp&nbsp&nbsp";
                        }
                        
                        raw += "<h5 class=\"card-title\">" + value["name"] + "</h5>";
                        raw += "<p class=\"card-text\">" + value["description"] + "</p>";
                        raw += "<a href=\"../../Recipes/Details/" + value["recipeId"] + "\" class=\"btn btn-primary\">View Details</a>";
                        if ('@ViewData["userId"]' == userId)
                            {
                                raw += "<button id=\"remove-" + @ViewData["collId"] + "\/" + value["recipeId"] + "\" class=\"btn btn-danger\">Remove</button>";
                            }
                        raw +="</div>";
                        raw +="</div>";
                        raw += "</div><br>"; 
                        console.log(raw);
                        appendElement.append(raw);
                    });


                },
                error: function(xhr, status, error) {
                    
                }

            });
        }

        $(document).on("click", '[id^="remove-"]', function () {
            if (confirm("Bạn có chắc chắn muốn xóa công thức này khỏi bộ sưu tầm?") == true) {
                $.ajax({
                    url: "https://localhost:5001/api/Collections/DeleteCR/" + $(this).attr("id").replace("remove-", ""),
                    method: 'delete',
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                });
            }

        });
    });
</script>