@model BusinessObjects.DTO.RecipeDTO
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/css/detailsRecipe.css" />
<link rel="stylesheet" href="~/css/avatar.css" />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 the-one-div">
        @if (Model.Image != null && Model.Image.Trim().Length > 0)
        {

            <div class="fill">
                <img src="~/images/@Model.Image" height="200" alt="Recipe Image" id="recipeImage">
            </div>
        }
        <div class="section">
            <div class="form-group">
                <span asp-for="Name" id="nameBox">@Model.Name</span>
            </div>
            <div class="form-group">
                <span id="descriptionBox" asp-for="Description"></span>
            </div>
            <hr />
            <div class="center">
                <div>&#9201; @Model.Duration</div>
            </div>
            <hr />
        </div>
        <div class="section">
            <div class="tableTitle">Nguyên liệu</div>
            @foreach (var item in Model.Ingredients)
            {
                <div>@item.Text</div>
                <hr />
            }
        </div>
        <div class="section">
            <div class="tableTitle">Các bước</div>
            @foreach (var item in Model.Steps)
            {
                <div class="step-div">
                    <span>@item.Order .</span>
                    <span>@item.Text</span>
                    @if (item.Image != null && item.Image.Trim().Length > 0)
                    {
                        <img class="step-img" src="~/images/@item.Image" />
                    }
                </div>

            }
        </div>
        <hr />
        <div class="section">
            <div class="tableTitle"><i style="margin-right:10px" class="fa-regular fa-message"></i>Bình luận</div>
            <div class="row flex-row align-items-center" id="comment-box">
                <div class="avatar avatar-sm rounded-circle">
                    <img class="avatar-img" src="/images/dry-ingredients.jpg" alt="">
                </div>
                <div class="col-md-10">
                    <textarea rows="1" id="comment-input" class="comment-input textarea form-rounded" role="textbox" contenteditable></textarea>
                </div>
                <button class="comment-post-btn float-right btn" type="button">Post</button>

            </div>
            <div id="comment-section" class="ui comment">

                @foreach (var comment in ViewBag.Comments)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="d-flex px-3 py-4">
                                    <div class="flex-shrink-0">
                                        <div class="avatar avatar-sm rounded-circle">
                                            <img class="avatar-img" src="/images/@comment.User.Avatar" alt="">
                                        </div>
                                    </div>
                                    <div class="ms-2 ms-md-8 comment-content">
                                        <div class="d-flex align-items-baseline">
                                            <h6 class="me-2">@comment.User.Name</h6>
                                        </div>
                                        <div class="commentId">@comment.CommentId</div>
                                        <div id="comment-content-@comment.CommentId">@comment.Text</div>
                                        <div>
                                            <a href="#/" id="reply-btn-@comment.CommentId" class="reply">Reply</a>
                                        </div>
                                        @if (comment.NumberOfReplies > 0)
                                        {
                                            <div>
                                                <a class="show-replies" href="#/"><i class="fa-solid fa-angle-down"></i><b>Show @comment.NumberOfReplies replies</b></a>
                                            </div>
                                            <div class="replies-section"></div>
                                        }

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 dropdown-section">
                                <span class="clickable delCmt" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if ((int)ViewData["userId"] == comment.User.UserId)
                                    {
                                        <div class="delCmt" id="del-comment-@comment.CommentId">Xóa bình luận</div>
                                        <div class="editCmt" id="edit-comment-@comment.CommentId">Sửa bình luận</div>
                                    }

                                    <div class="reportCmt" id="report-comment-@comment.CommentId">Báo cáo bình luận</div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
            <div class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Báo cáo comment này?</p>
                    <input type="number" class="reportCommentIdTxt" id="reportCommentId" style="display:none">
                    <div class="form-group">
                        <label for="Title">Hãy nêu lí do tại sao bạn báo cáo comment này.</label>
                        <input type="text" name="" id="reportText" class="form-control">
                    </div>
                    <div class="text-center panel-body">
                        <button type="submit" class="btn btn-sm btn-primary" id="ReportButton">Báo cáo comment</button>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-2">
        <div style="display:none" id="recipe-id">@Model.RecipeId</div>
    </div>
</div>

<script type="text/javascript">

    var textarea = document.getElementById("comment-input");
    var limit = 200;

    textarea.oninput = function () {
        textarea.style.height = "";
        textarea.style.height = Math.min(textarea.scrollHeight, 300) + "px";
    };
    $("#addIngredientBtn").on("click", function () {
        console.log("clicked");
        $("#ingredientsTable").append('<tr><td><input type = "text" placeholder = "250g bột" class="form-control"/></td ><td><span class="clickable">...</span></td></tr>');
    });

</script>
@section Scripts {
    <script type="text/javascript">
        $(document).on("click", '[id^="del-comment-"]', function () {
            var comment = $(this).closest(".row");
            if (confirm("Bạn có chắc chắn muốn xóa bình luận này?") == true) {
                $.ajax({
                    url: "https://localhost:5001/api/Comments/" + $(this).attr("id").replace("del-comment-", ""),
                    method: 'delete',
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        $(comment).hide();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                });
            }

        });

        $(".show-replies").on("click", function () {
            var repliesSection = $(this).parent().next();
            var commentid = $(this).parent().parent().find("div:nth-child(2)").text();
            var htmlContent = "";
            $.ajax({
                url: "https://localhost:5001/api/Comments/getByComment/" + commentid,
                type: "get",
                contentType: "application/json; charset=utf-8",
                success: function (result, status, xhr) {
                    $.each(result, function (index, value) {
                        htmlContent += `<div class="row"><div class="col-lg-10">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0">
                                                            <div class="avatar avatar-sm rounded-circle">
                                                                <img class="avatar-img" src="/images/` + value["user"]["avatar"] + `" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 comment-content">
                                                            <div class="d-flex align-items-baseline">
                                                                <h6 class="me-2">` + value["user"]["name"] + `</h6>
                                                            </div>
                                                <div class="commentId">` + value["commentId"] + `</div>

                                                            <div id="comment-content-` + value["commentId"] + `">` +
                            value["text"]
                            + `</div>
<div>
                                                        <a href="#/" class="reply">Reply</a>`;
                        if (result["numberOfReplies"] > 0) {
                            htmlContent += `<div>

                                                            <a class="show-replies" href="#/"><i class="fa-solid fa-angle-down"></i><b>Show ` + result["numberOfReplies"] + ` replies</b></a>

                                                            </div>
                                                            <div class="replies-section"></div>`
                        }

                        htmlContent += `
                                                    </div>
                                                        </div></div>
                                                    </div>
                                        <div class="col-lg-2 dropdown-section">
                                <span class="clickable delCmt" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">`;
                                    if ('@ViewData["userId"]' == value["user"]["userId"])
                                    {
                                        htmlContent +=
                                        `<div class="delCmt" id="del-comment-` + value["commentId"] +`">Xóa bình luận</div>
                                        <div class="editCmt" id="edit-comment-` + value["commentId"] +`">Sửa bình luận</div>`
                                    }

                    htmlContent +=  `<div class="reportCmt" id="report-comment-` + value["commentId"] +`">Báo cáo bình luận</div>

                                </div>
                            </div>
                                                    </div>`;
                        $("<div>").addClass("container").html(htmlContent);
                        repliesSection.html(htmlContent);
                    });

                },
                error: function (xhr, status, error) {
                    console.log(xhr);
                }
            });
            $(this).hide();

        });

        $(".comment-post-btn").on("click", function () {
            var textvalue = $(this).parent().find("div:nth-child(2)").find(":first-child").val();
            if (textvalue) {
                var json = {
                    userId: 2,
                    recipeId: $("#recipe-id").text(),
                    parentCommentId: null,
                    text: $(this).parent().find("div:nth-child(2)").find(":first-child").val(),
                    commentStatus: 0
                };
                var htmlContent = "";
                $.ajax({
                    url: "https://localhost:5001/api/Comments",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (result, status, xhr) {
                        htmlContent += `<div class="row">
                                        <div class="col-lg-10">

                                                <div class="d-flex px-3 py-4 border border-bottom-0 border-light rounded-top border-left">
                                                        <div class="flex-shrink-0">
                                                            <div class="avatar avatar-sm rounded-circle">
                                                                <img class="avatar-img" src="/images/` + result["user"]["avatar"] + `" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 comment-content">
                                                            <div class="d-flex align-items-baseline">
                                                                <h6 class="me-2">` + result["user"]["name"] + `</h6>
                                                            </div>
                                                            <div class="commentId">` + result["commentId"] + `</div>
                                                            <div>` +
                            result["text"]
                            + `</div>
<div>
                                                        <a href="#" class="reply">Reply</a>
                                                </div>
                                                            </div> </div></div>
                                    <div class="col-lg-2 dropdown-section">
                                <span class="clickable delCmt" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="delCmt" id="del-comment-` + value["commentId"] + `">Xóa bình luận</div>
                                        <div class="editCmt" id="edit-comment-` + value["commentId"] +`">Sửa bình luận</div>
                                        <div class="reportCmt" id="report-comment-` + value["commentId"] +`">Báo cáo bình luận</div>

                                </div>
                            </div>
                                                        </div>`;
                        $("<div>").addClass("container").html(htmlContent).appendTo($("#comment-section"));
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                });
                $(this).parent().find("div:nth-child(2)").find(":first-child").val("");
            }

        });


        var commentContent;
        $(document).on("click", '[id^="edit-comment-"]', function () {
            var id = $(this).attr("id").replace("edit-comment-", "");
            var commentBox = $("#comment-content-" + id);
            var commentContent = $("#comment-content-" + id).text();
            var htmlContent = `<div class="row flex-row align-items-center" id="comment-box">
                
                <div class="">
                    <textarea rows="1" id="comment-input" class="comment-input textarea form-rounded" role="textbox" contenteditable>` + $("#comment-content-" + id).text() + `</textarea>
                </div>
                <button id="comment-edit-`+ id +`" class="comment-post-btn float-left btn" type="button">Post</button>
                <button id="comment-cancel-`+ id +`" class="comment-cancel-btn float-right btn" type="button">Cancel</button>
            </div>`;
            commentBox.html(htmlContent);
            
        });

        $(document).on("click", '[id^="comment-edit-"]', function () {
            
        });


            

        $(document).ready(function () {
          var commentidtxt = $('.reportCommentIdTxt');
          var modal = $('.modal');
          var btn = $('.reportCmt');
          var span = $('.close');
          var commentid = btn.attr("id").replace("report-comment-", "");

          $("#reportCommentId").val(commentid);

          btn.click(function () {
            modal.show();
          });

          span.click(function () {
            modal.hide();
          });

          $(window).on('click', function (e) {
            if ($(e.target).is('.modal')) {
              modal.hide();
            }
          });
        });
        $("#ReportButton").click(function(e) {
            data = new FormData();
            data.append("CommentId", $("#reportCommentId").val());
            data.append("Text", $("#reportText").val());
            var object = {};
            data.forEach((value, key) => object[key] = value);
            console.log(JSON.stringify(object))
            $.ajax({
                url: "https://localhost:5001/api/Comments/reportComment" + "/" + $("#reportCommentId").val(),
                type: "post",
                data: JSON.stringify(object),
                contentType: "application/json",
                success: function(result, status, xhr) {
                    console.log(status);
                    var modal = $('.modal');
                    modal.hide();
                },
                error: function(xhr, status, error) {
                    console.log(xhr);
                }
            });
        });
    </script>
    <style>
          .modal {
          display: none;
          position: fixed;
          z-index: 1;
          padding-top: 100px;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, .4);
        }

        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
        }

        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
    </style>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
