@model BusinessObjects.DTO.RecipeDTO

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/createRecipe.css" />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav class="navbar">
            <button class="btn btn-sm btn-outline-success" type="button" id="backBtn">Quay lại</button>
            <div class="nav-item dropdown">
                <span class="clickable deleteRecipe" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <span class="deleteIngre" id="delete-recipe">Xóa công thức</span>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Edit">
            <div class="section">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="file" asp-for="Image" accept="image/*" id="input-recipe-image" />
                </div>
                <div class="fill">
                    <img src="~/images/@Model.Image" height="200" alt="Image preview..." id="recipe-image">
                </div>
                <div class="form-group">
                    <input asp-for="Name" class="form-control" id="nameBox" placeholder="Tên món: Bánh bột mì" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <textarea id="descriptionBox" asp-for="Description" class="form-control" placeholder="Hãy chia sẻ với mọi người về món này của bạn nhé - ai đã truyền cảm hứng cho bạn, tại sao nó đặc biệt, bạn nấu món này cho ai?"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label asp-for="Duration" class="control-label"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Duration" class="form-control" placeholder="1 tiếng 30 phút" id="durationBox" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="tableTitle">Nguyên liệu</div>
                <table class="table" id="ingredientsTable">
                    <tbody>
                        @foreach (var item in Model.Ingredients)
                        {
                            <tr id="ingre-@item.IngredientId">
                                <td>
                                    <input type="text" placeholder="250g bột" class="form-control" value="@item.Text" id="val-ingre-@item.IngredientId" />
                                </td>
                                <td>
                                    <span class="clickable deleteIngredient" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <span class="deleteIngre" id="del-ingre-@item.IngredientId">Xóa nguyên liệu</span>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="center">
                    <span id="addIngredientBtn" class="clickable">+ Nguyên liệu</span>
                </div>
            </div>
            <div class="section">
                <div class="tableTitle">Các bước</div>
                <table class="table table-borderless" id="stepsTable">
                    <tbody>
                        @foreach (var item in Model.Steps)
                        {
                            <tr id="step-@item.StepId">
                                <td><input type="text" id="val-step-@item.StepId" placeholder="Trộn bột và nước đến khi đặc lại" class="form-control" value="@item.Text" /></td>
                                <td>
                                    <span class="clickable deleteStep" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <span class="deleteStep" id="del-step-@item.StepId">Xóa bước này</span>
                                    </div>
                                </td>
                            </tr>

                            <tr id="step-img-section-@item.StepId">
                                <td>
                                    @if (item.Image != null && item.Image.Trim().Length > 0)
                                    {
                                        <img class="step-img" src="~/images/@item.Image" id="img-step-@item.StepId" />
                                    }
                                    else
                                    {
                                        <img class="step-img-null" src="~/images/camera.jpg" id="img-step-@item.StepId" />
                                    }
                                    <input type="file" asp-for="Image" accept="image/*" id="input-step-image-@item.StepId" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="center">
                    <span id="addStepBtn" class="clickable">+ Bước làm</span>
                </div>
            </div>
            <div>
                <a asp-action="Details" asp-route-id="@Model.RecipeId">Back to Recipe Details</a>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

<script type="text/javascript">
    $("#backBtn").on("click", function () {
        window.location.href = "/Recipes/Details/" + @Model.RecipeId;
    });
    $("#delete-recipe").on("click", function () {
        if (confirm("Do you really want to delete this recipe?")) {

            $.ajax({
                url: "https://localhost:5001/api/Recipes/" + id,
                type: "delete",
                contentType: "application/json",
                success: function (result, status, xhr) {
                    window.location.href = "/Home/Index";
                },
                error: function (xhr, status, error) {
                    console.log(xhr)
                }
            });
        }
    });
    //when user uploads a new image for the recipe
    $("#input-recipe-image").change(function () {
        //show preview images
        var preview = document.getElementById('recipe-image');
        var file = document.getElementById("input-recipe-image").files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
        //save file to images folder
        var formData = new FormData();
        formData.append("input-recipe-image", file);

        $.ajax({
            type: "POST",
            url: '/Recipes/UploadImage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                console.log("image uploaded: " + response);
                imageChanged(response);
            },
            error: function (error) {
                alert("error: " + error);
            }
        });
    });
    //recipe information changed

    $(document).on("change", '#nameBox', function() {
        console.log("name changed");
        $.ajax({
            url: "https://localhost:5001/api/Recipes/" + @Model.RecipeId,
            type: "patch",
            data: JSON.stringify([{
                "op": "replace",
                "path": "name",
                "value": $(this).val()
            }]),
            processData: false,
            contentType: "application/json",
            success: function (result, status, xhr) {
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    });
    //description changed
    $(document).on("change", '#descriptionBox', function() {
        console.log("name changed");
        $.ajax({
            url: "https://localhost:5001/api/Recipes/" + @Model.RecipeId,
            type: "patch",
            data: JSON.stringify([{
                "op": "replace",
                "path": "description",
                "value": $(this).val()
            }]),
            processData: false,
            contentType: "application/json",
            success: function (result, status, xhr) {
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    });
    //image changed
    function imageChanged(newUrl) {
        $.ajax({
            url: "https://localhost:5001/api/Recipes/" + @Model.RecipeId,
            type: "patch",
            data: JSON.stringify([{
                "op": "replace",
                "path": "image",
                "value": newUrl
            }]),
            processData: false,
            contentType: "application/json",
            success: function (result, status, xhr) {
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    }
    //duration changed
    $(document).on("change", '#durationBox', function() {
        $.ajax({
            url: "https://localhost:5001/api/Recipes/" + @Model.RecipeId,
            type: "patch",
            data: JSON.stringify([{
                "op": "replace",
                "path": "duration",
                "value": $(this).val()
            }]),
            processData: false,
            contentType: "application/json",
            success: function (result, status, xhr) {
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    });
    //when user clicks delete an ingredient
    $(document).on("click", '[id^="del-ingre-"]', function () {
        var id = $(this).attr("id").replace("del-ingre-", "");
        if (confirm("Do you really want to delete this ingredient?")) {

            $.ajax({
                url: "https://localhost:5001/api/Ingredients/" + id,
                type: "delete",
                contentType: "application/json",
                success: function (result, status, xhr) {
                    $("#ingre-" + id).remove();
                },
                error: function (xhr, status, error) {
                    console.log(xhr)
                }
            });
        }
    });
    //delete a step
    $(document).on("click", '[id^="del-step-"]', function () {
        var id = $(this).attr("id").replace("del-step-", "");
        if (confirm("Do you really want to delete this step?")) {

            $.ajax({
                url: "https://localhost:5001/api/Steps/" + id,
                type: "delete",
                contentType: "application/json",
                success: function (result, status, xhr) {
                    $("#step-" + id).remove();
                    $("#step-img-section-" + id).remove();
                },
                error: function (xhr, status, error) {
                    console.log(xhr)
                }
            });
        }
    });
    $("#addIngredientBtn").on("click", function () {
        $("#ingredientsTable").append(
            '<tr id="ingre-new"><td><input type="text" placeholder="250g bột" class="form-control" id="val-ingre-new"/></td><td><span class="clickable deleteIngredient" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</span><div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><span class="deleteIngre" id="del-ingre-new">Xóa nguyên liệu</span></div></td></tr>');

        $.ajax({
            url: "https://localhost:5001/api/Ingredients",
            type: "post",
            data: JSON.stringify({
                IngredientId: 0,
                RecipeId: @Model.RecipeId
            }),
            processData: false,
            contentType: "application/json",
            success: function (result, status, xhr) {
                $("#ingre-new").attr("id", "ingre-" + result["ingredientId"]);
                $("#del-ingre-new").attr("id", "del-ingre-" + result["ingredientId"]);
                $("#val-ingre-new").attr("id", "val-ingre-" + result["ingredientId"]);
                console.log("ingredient added");
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    });
    $("#addStepBtn").on("click", function () {
        $("#stepsTable").append('<tr id="step-new"><td><input type="text" id="val-step-new" placeholder="Trộn bột và nước đến khi đặc lại" class="form-control"/></td><td><span class="clickable deleteStep" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</span><div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><span class="deleteStep" id="del-step-new">Xóa bước này</span></div></td></tr><tr id="step-img-section-new"><td><img class="step-img-null" id="img-step-null-new" /><input type="file" asp-for="Image" accept="image/*" id="input-step-image-new" /></td></tr>');
        $.ajax({
            url: "https://localhost:5001/api/Steps",
            type: "post",
            data: JSON.stringify({
                StepId: 0,
                RecipeId: @Model.RecipeId
            }),
            processData: false,
            contentType: "application/json",
            success: function (result, status, xhr) {
                $("#step-new").prop("id", "step-" + result["stepId"]);
                $("#del-step-new").prop("id", "del-step-" + result["stepId"]);
                $("#val-step-new").prop("id", "val-step-" + result["stepId"]);
                $("#step-img-section-new").prop("id", "step-img-section-" + result["stepId"]);
                $("#img-step-null-new").prop("src", "/images/camera.jpg");
                $("#img-step-null-new").prop("id", "img-step-" + result["stepId"]);
                $("#input-step-image-new").attr("id", "input-step-image-" + result["stepId"]);
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    });
    $(document).on("change", '[id^="val-ingre-"]', function () {
        $.ajax({
            url: "https://localhost:5001/api/Ingredients/" + $(this).attr("id").replace("val-ingre-", ""),
            type: "put",
            data: JSON.stringify({
                IngredientId: $(this).attr("id").replace("val-ingre-", ""),
                RecipeId: @Model.RecipeId,
                Text: $(this).val()
            }),
            processData: false,
            contentType: 'application/json',
            success: function (result, status, xhr) {
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    });
    $(document).on("change", '[id^="val-step-"]', function () {
        var stepId = $(this).attr("id").replace("val-step-", "");
        $.ajax({
            url: "https://localhost:5001/api/Steps/" + stepId,
            type: "patch",
            data: JSON.stringify([{
                "op": "replace",
                "path": "text",
                "value": $(this).val()
            }]),
            processData: false,
            contentType: "application/json",
            success: function (result, status, xhr) {
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    });
    //when user uploads a step image
    $(document).on("change", '[id^="input-step-image-"]', function () {
        var stepId = $(this).attr("id").replace("input-step-image-", "");
        //show preview images
        var preview = document.getElementById('img-step-' + stepId);
        $('#img-step-' + stepId).removeClass('step-img-null').addClass('step-img');
        var file = document.getElementById('input-step-image-' + stepId).files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
        //save file to images folder
        var formData = new FormData();
        formData.append("input-step-image", file);

        $.ajax({
            type: "POST",
            url: '/Recipes/UploadImage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                stepImageChanged(stepId, response);
            },
            error: function (error) {
                alert("error: " + error);
            }
        });
    });
    //step image changed
    function stepImageChanged(stepId, newUrl) {
        $.ajax({
            url: "https://localhost:5001/api/Steps/" + stepId,
            type: "patch",
            data: JSON.stringify([{
                "op": "replace",
                "path": "image",
                "value": newUrl
            }]),
            processData: false,
            contentType: "application/json",
            success: function (result, status, xhr) {
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}